

.documentation .status-tracker{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.8rem 1rem;
    position: sticky;
    top: 0%;
}

.documentation .status-tracker .status{
    display: flex;
    align-items: center;
}

.documentation .status-tracker .status .status-target{
    position: relative;
    padding: auto 1rem;
    height: 75px;
    width: 50px;
}

.documentation .status-tracker .status .status-target span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #ddd;
    transition: background 0.4s;
}

.documentation .status-tracker .status .status-target::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 50%;
    background: #ddd;
    transition: background 0.4s;
}

.documentation .status-tracker .status .status-target::after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 50%;
    background: #ddd;
    transition: background 0.4s;
    z-index: -1;
}

.documentation .status-tracker .status .status-target.first:before,
.documentation .status-tracker .status .status-target.last:after{
    background: transparent !important;
}

.documentation section{
    text-align: start;
}

.documentation section .highlighted-heading{
    padding-left: 1rem;
    border-left: 7px solid var(--accent1);
}

.documentation section article img{
    border-radius: 7px;
    border-top: 2px solid rgba(255,255,255,0.1);
}

.documentation section article .alert{
    background: transparent;
}

.documentation .status h6 a{
    color: #999;
    text-decoration: none;
    transition: color 0.4s;
}

.documentation .status.active .status-target span,
.documentation .status.active .status-target::before,
.documentation .status.active .status-target::after{
    animation: glowUp 0.7s forwards ease-in-out;
}

.documentation .status.last-active h6 a{
    color: #fff !important;
}

.documentation section p{
    margin-bottom: 0;
    color: #ddd;
}

.documentation section article .alert{
    border: 2px solid var(--primary);
    color: var(--primary);
}

.documentation section table{
    width: 100%;
    cursor: default;
}

.documentation section table thead{
    background: var(--accent-gradient);
    color: #fff;
}

.documentation section table thead th:first-child{
    border-top-left-radius: 7px;
}

.documentation section table thead th:last-child{
    border-top-right-radius: 7px;
}

.documentation section table thead th{
    text-align: center;
    padding: 0.6rem 0;
    border-right: 1px solid rgba(255,255,255,0.1);
    font-weight: 400;
}

.documentation section table tbody tr{
    transition: background 0.2s var(--easing), transform 0.3s ease-in;
}

.documentation section table tbody td{
    padding: 0.6rem 1rem;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.documentation section table thead th:last-child,
.documentation section table tbody td:last-child{
    border-right: none;
}

.documentation section table tbody tr:nth-child(even){
    background: rgba(255,255,255,0.05);
}

.documentation section table tbody tr:hover{
    background: rgba(255,255,255,0.15);
    transform: scale(1.01);
}

@keyframes glowUp {
    from{
        background: #fff;
    }
    to{
        background: var(--accent1);
    }
}

@media (max-width: 992px) {
    .documentation section .highlighted-heading{
        font-size: x-large;
    }
    .documentation section p,
    .documentation section li{
        font-size: medium;
    }
    .documentation section{
        padding: 1rem;
    }
    .documentation section article .alert{
        width: 100% !important;
    }
    .documentation img{
        width: 100%;
        height: auto;
    }
    .documentation .table-wrapper{
        overflow-x: auto;
    }
    .documentation table{
        width: 600px;
        border-collapse: collapse;
    }
}

@media (max-width: 650px) {
    .documentation section p,
    .documentation section li{
        font-size: small;
    }
    .documentation img{
        width: 100% !important;
        height: auto !important;
    }
}