@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --site-font: "Josefin Sans", sans-serif;
  --site-bg-primary: #0B132B;
  --site-bg-secondary: #1C2541;
  --site-text-primary: #6FFFE9;
  --site-text-secondary: #5BC0BE;
  --site-accent: #3A506B;

  --border-radius: 7px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--site-font);
}

body{
  /* background: var(--site-bg-primary); */
  background: #fff;
  /* color: var(--site-text-primary); */
  color: black;
}