.glass-bg{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    min-height: 100svh;
    backdrop-filter: blur(40px);
    z-index: -10;
}

.blob{
    width: 150px;
    height: 70px;
    background: linear-gradient(purple,cyan);
    box-shadow: 0 0 200px 100px rgba(255,255,255,0.5);
    z-index: -20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-25%);
    border-radius: 50%;
}

@media (max-width: 879px) {
    .glass-bg,
    .blob{
        display: none;
    }
}