.nav-container{
    background: var(--bg);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.nav-brand{
    cursor: pointer;
    gap: 20px;
}

.nav-brand img{
    width: 70px;
}

.nav-brand h3{
    color: var(--text);
}

.nav-actions menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.nav-actions menu button{
    background: transparent;
    border: none;
    outline: none;
    color: var(--light-text);
    transition: color 0.2s;
}

.nav-actions menu button:hover{
    color: var(--text);
    cursor: pointer;
}

.nav-account{
    height: 100%;
}

.nav-account button{
    height: 100%;
    padding: var(--btn-padding);
    border: 2px solid rgba(from var(--text) r g b / 0.5);
    border-radius: 7px;
    background: transparent;
    color: var(--text);
    box-shadow: inset 0 0 10px rgba(255,255,255,0.3);
    transition: background 0.4s, color 0.4s;
}

.nav-account button:hover{
    background: #fff;
    color: #111;
}

.nav-sidebar{
    position: fixed;
    top: 0%;
    width: 300px;
    height: 100vh;
    background: var(--accent-gradient);
    z-index: 20;
    padding: 20px;
}

.nav-sidebar h3,
.nav-sidebar button{
    color: #fff;
}

.nav-sidebar .nav-close{
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 35;
    float: right;
    margin-right: 1rem;
    cursor: pointer;
}

.nav-sidebar .nav-close::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 5px;
    height: 100%;
    background: #fff;
    transform: rotate(45deg);
}

.nav-sidebar .nav-close::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 5px;
    height: 100%;
    background: #fff;
    transform: rotate(-45deg);
}

.nav-sidebar menu{
    margin-top: 2rem;
    list-style-type: none;
}

.nav-sidebar menu li{
    margin: 1rem 0;
}

.nav-sidebar menu li button{
    border: none;
    box-shadow: none;
}