.plans-container h2{
    border-left: 7px solid var(--accent1);
    padding-left: 20px;
}

.plans-container ul{
    max-height: 100px;
    overflow: auto;
}

.plans-container ul ::-webkit-scrollbar{
    display: block;
}

.plans-container ul li{
    display: flex;
    gap: 10px;
    align-items: baseline;
    list-style-type: none;
    font-size: small;
}

.plans-container .feature-included{
    color: lime;
}

.plans-container .feature-excluded{
    color: crimson;
}

.plans-container .most-popular{
    overflow: hidden;
}

.plans-container .most-popular::before{
    content: "BEST";
    background: linear-gradient(45deg, limegreen, lime);
    color: black;
    padding: 7px 0;
    width: 200px;
    font-weight: bolder;
    transform: rotate(-45deg) translate(-50%,-50%);
    position: absolute;
    left: 10%;
    top: -5%;
    text-align: center;
    letter-spacing: 3px;
}

@media (max-width: 992px) {
    .plans-container .most-popular::before{
        left: 5%;
    }
}