.test-maker-container{
    width: 100%;
    height: 100vh;
    height: 100svh;
}

@media print{
    .paper{
        display: block !important;
    }
}

.paper{
    width: 100%;
    height: 100vh;
    background: #fff;
    color: black;
    padding: 25px 25px;
    text-align: initial;
    display: none;
}

.paper-content{
    width: 100%;
    height: 100%;
    border: 2px solid #111;
    padding: 15px 15px;
}

.download-paper{
    background: #fff;
    color: #4A00E0;
    width: 100%;
    padding: 15px 0;
    border: none;
}

.test-maker-container .paper-edit-panel{
    height: 100vh;
    background: #4A00E0;
    color: #fff;
    padding: 20px 20px;
    position: sticky;
    top: 0%;
}

.test-maker-container .paper-edit-panel .section{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.test-maker-container .paper-edit-panel .section > input{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 0px;
}

.test-maker-container .paper-edit-panel .section .paper-heading-input{
    border-bottom: 3px solid white;
}

.test-maker-container .paper-edit-panel .section .total-marks-input{
    border-bottom: 3px solid white;
    width: 50%;
}

.test-maker-container .paper-edit-panel .section > input::placeholder{
    color: #eee;
}


.test-maker-container .paper-config{
    padding: 20px 0;
    text-align: start;
}

.test-maker-container .paper-config .heading{
    padding-left: 15px;
    border-left: 10px solid #4A00E0;
}

@media (max-width: 400px) {
    .test-maker-container .paper-config .heading{
        font-size: large;
        padding: 7px 10px;
    }
}

.test-maker-container .paper-config button{
    width: 100%;
    padding: var(--btn-padding);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    background: transparent;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.3);
    transition: background 0.4s, color 0.4s;
}

.test-maker-container .paper-config button[disabled="true"]{
    color: var(--light-text);
    border: 3px solid var(--light-text);
}

.test-maker-container .paper-config button:hover,
.test-maker-container .paper-config .active-selection{
    background: #fff;
    color: #111;
}

.test-maker-container .paper-config select{
    width: 100%;
    padding: var(--btn-padding);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    background: transparent;
    color: #fff;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.3);
    appearance: none;
}

.test-maker-container .paper-config .caret{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.test-maker-container .paper-config select option{
    color: #111;
}

.test-maker-container .paper-config select option:disabled{
    color: #777;
}

.manual-question-selection{
    margin-top: 10px;
}

.manual-question-selection p{
    color: var(--light-text);
}

.manual-question-selection .question-selection{
    display: flex;
    align-items: center;
    gap: 20px;
}

.manual-question-selection .alert{
    border: 2px solid var(--primary);
}

.manual-question-selection .alert strong{
    color: var(--primary);
}

/* Custom Checkbox */

.custom-checkbox{
    height: 25px;
    width: 25px;
}

.manual-question-selection .question-selection input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox{
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid var(--light-text);
    border-radius: 5px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

.checkmark:after {
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #fff;
    border: none;
}

ol.custom-alphabet {
    list-style-type: none; /* Remove default list styling */
    counter-reset: alphabet-counter; /* Initialize counter */
}
ol.custom-alphabet li {
    counter-increment: alphabet-counter; /* Increment counter */
}
ol.custom-alphabet li::before {
    content: counter(alphabet-counter, lower-alpha) ") "; /* Add custom counter */
    margin-right: 5px; /* Optional: Add space between counter and text */
}