.add-book-container{
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book{
    background: var(--site-bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 20px;
}

.add-book .input-group{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px 0;
}

.add-book .input-group label sup{
    color: red;
}

.add-book .input-group input{
    background: var(--site-bg-secondary);
    padding: 7px 15px;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid var(--site-text-secondary);
    width: 100%;
    transition: border-bottom 0.1s ease-out;
}

.add-book .input-group input:focus{
    border-bottom: 2px solid var(--site-text-primary);
}

.add-book button{
    width: 300px;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: var(--site-bg-secondary);
    color: var(--site-text-secondary);
    border: none;
    margin: 20px 0;
    padding: 10px 15px;
    transition: 0.2s ease;
}

.add-book button:hover{
    background: var(--site-text-secondary);
    color: var(--site-bg-primary);
}

.add-book .alert{
    background: var(--site-bg-primary);
    border: 2px solid var(--site-text-secondary);
    width: 300px;
    margin: 7px 0;
    opacity: 0;
    filter: blur(5px);
    transform: scale(0);
    animation: fadeIn 0.3s forwards ease-out;
}

.add-book .alert strong{
    color: red;
    margin-right: 25px;
}

.add-book .alert.alert-success{
    color: var(--site-text-secondary);
}

.add-book .alert.alert-success strong{
    color: #18FF6D;
}

@keyframes fadeIn {
    to{
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}