.admin-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px;
}

.admin-panel menu{
    display: flex;
    list-style-type: none;
    width: 100%;
}

.admin-panel menu li{
    background: var(--site-bg-secondary);
    padding: 10px 30px;
    border-right: 2px solid var(--site-bg-primary);
    cursor: pointer;
    transition: padding 0.4s ease;
}

.admin-panel menu li:nth-child(1){
    border-top-left-radius: var(--border-radius);
}

.admin-panel menu li:last-child{
    border-top-right-radius: var(--border-radius);
    border-right: none;
}

.admin-panel menu li.active{
    background: var(--site-accent);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    padding: 10px 50px;
}

.admin-panel .panel{
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--site-accent);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 20px 20px;
}

.admin-panel menu li a{
    color: var(--site-text-secondary);
    text-decoration: none;
}

.admin-panel menu li.active a{
    color: var(--site-text-primary);
}

.admin-panel-wrapper{
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 1rem;
}

.admin-panel-2{
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 10px;
}

.admin-panel-2 menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem;
}

.admin-panel-2 menu li{
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
}

.admin-panel-2 menu li.active{
    background: #000;
    border-radius: 10px;
}

.admin-panel-2 menu li.active a{
    color: #fff;
}

.admin-panel-2 menu li a{
    text-decoration: none;
    text-align: center;
    padding: 1rem 1rem;
    width: 100%;
    color: #000;
}

.admin-panel-2 .content-panel{
    border-left: 2px solid #000;
    overflow-y: auto !important;
}

.admin-panel-2 .logout-btn{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.admin-panel-2 .logout-btn button{
    padding: 7px 1rem;
    border: none;
    outline: none;
    border-top: 1px solid #DEDEDE;
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.admin-panel-2 button:hover{
    background: #000;
    color: #fff;
}